
header{
    background: #D2E4AF url(tmp_logo.png) no-repeat 10% 50%
    }
header h1{
        color: orange;
        text-align: center;
        text-shadow: 0 0 2px blue
       }
body {
    margin: 0 auto;
    background: #FFE4E1;
}

#sidebar ul{
    list-style: none
   }
#sidebar ul li{
    border-bottom: 2px solid orange;
    width: 55px
   }